[submodule "external/tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "external/Catch"]
	path = external/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "pybind11"]
	branch = v2.6.2
