[submodule "external/tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "external/Catch"]
	path = external/Catch
	url = https://github.com/philsquared/Catch.git
