language: cpp
env:
    - builder=scons
    - builder=cmake
os:
    - linux
    - osx

dist: trusty
sudo: required
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-6
            - cmake
            - libeigen3-dev
            - libpython3-dev
            - python3-numpy

before_install:
   - OMP_NUM_THREADS=2
   - eval "${MATRIX_EVAL}"
   - echo "${builder}"
   - if [ ${TRAVIS_OS_NAME} = 'osx' ]; then
        brew update;
        brew install scons eigen ceres-solver;
     fi

script:
   - git submodule init
   - git submodule update
   - if [ ${builder} = 'scons' ]; then
        scons;
        scons tests;
     else
        mkdir build;
        cd build;
        cmake ..;
        make -i;
        make test;
     fi

after_failure:
   - if [ ${builder} = 'scons' ]; then
        cat config.log;
     else
        cat Testing/Temporary/LastTest.log;
     fi
